
/isofiles/DATA_extract
/isofiles/DATA_new
isofiles/DATA.BIN
isofiles/DATA.BIN.decrypt
isofiles/DATA.CPK
isofiles/DATA.cpk.encrypt
isofiles/EBOOT.BIN
isofiles/EBOOT_DEC.BIN
isofiles/EBOOT_PATCHED.BIN
isofiles/header
isofiles/ICON0.PNG
isofiles/pgdecrypt.exe
isofiles/vkey
*.pyc
*.iso
/bin/Sb/.vs
bin/Sb/.vs/Sb/FileContentIndex/48c82d6d-4889-470f-9e1b-011d9057dce7.vsidx
/bin/Sb/.vs/Sb
